@import url(../css/body.css);
@import url("../css/main.css");
div {
    color: black;
}

.links1 {
    font-size: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    padding: 100px;
}

a {
    color: #000;
}